{% extends "base.html.j2" %}
{% block content %}
<div class="container">
    <div class="action-bar">
        <a href="{{ url_for('event_edit', id=event.id) }}" class="btn">Edit</a>
    </div>
    <pre>
        {{ event.__dict__|e }}
    </pre>
    <p>
        Event {{ event.name }}
    </p>
    {% if event.description %}
    <p>
        {{ event.description }}
    </p>
    {% endif %}
    {% if event.user %}
    <p>
        Presented by {{ event.user }}
    </p>
    {% endif %}
    <p class="center">
        Event is currently open!
    </p>
    <div class="center">
        <a href="{{ url_for('upload_form', event_id=event.id)}}"
            class="btn">Submit a
            chart!</a>
    </div>

    {% for submission in event.submissions %}
    <p>
        {{ submission.name }}
    </p>
    {% if submission.illustration %}
    <p>
        <img src="{{ url_for('submission_file', event_id=submission.event_id, submission_id=submission.id) }}?path={{ submission.illustration }}"
            height="100" width="100 ">

    </p>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}
