{% extends "base.html.j2" %}
<div class="container">
    <form method="post">
        <div class="input-field col s12">
            <input type="text" name="song_name" id="song_name"
                value="{{ submission.song_name }}">
            <label for="song_name">Song title</label>
        </div>

        <div class="input-field col s12">
            <input type="text" name="song_artist" id="song_artist">
            <label for="song_artist">Song artist</label>
        </div>

        <div class="center">
            <input type="submit" value="{{ 'Submit' if not submission
                else 'Save' }}" class="btn">
        </div>
    </form>
</div>
